.menubar {
  width: 100%;
}

.menubar div{
  heigh: 50px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo{
  display: block;
  height: 16px;
  width: 180px;
  background-image: url(../images/wikimedium_logo.svg);
}

.about {
  font-size: 14px;
  line-height: 50px;
  color: rgba(0, 0, 0, 0.2);
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
}

.about:hover {
  color: rgba(0, 0, 0, 0.4);
}
